.dark-mode {
    background-color: #121212;
    color: #E0E0E0;
}

.settingsContent {
    padding: 20px;
    background-color: #1F1F1F;
    border: 1px solid #333333;
}

.setting {
    margin-top: 20px;
    font-size: 18px;
}

.setting label {
    cursor: pointer;
    color: #E0E0E0;
}

button, a {
    background-color: #BB86FC;
    color: #E0E0E0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, a:hover {
    background-color: #03DAC6;
}

input[type="checkbox"] {
    cursor: pointer;
}
