.newContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.newCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    box-shadow: var(--shadow);
}

.newDropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    margin: 0px 150px 0px 150px;
}

.newDropBtn {
    background-color: var(--purple);
    color: var(--white-text);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
}

.newDropContent {
    display: none;
    position: absolute;
    background-color: var(--grey);
    min-width: 104.94px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.newDropContent a {
    color: var(--white-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.newDropContent a:hover {
    background-color: rgb(24, 24, 24);
}

.newDropdown:hover .newDropContent {
    display: block;
    justify-content: center;
}

.newDropdown:hover .newDropBtn {
    background-color: #5c1cb0;
}