.newContent {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.newCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    box-shadow: var(--shadow);
    z-index: 1;
}

.newForm {
    position: relative;
    display: inline-block;
    width: 130px;
}

.newDropBtn {
    background-color: var(--purple);
    color: var(--white-text);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
}

.newDropContent {
    display: none;
    position: absolute;
    background-color: var(--grey);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
}

.newDropContent a {
    color: var(--white-text);
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

.newDropContent a:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 7px;
}

.newDropdown:hover .newDropContent {
    display: block;
    justify-content: center;
}

.newDropdown:hover .newDropBtn {
    background-color: #5c1cb0;
}

.newSubmit {
    background-color: var(--purple);
    color: var(--white-text);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    margin-top: 200px;
}

.backgroundArea {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}