.navContainer {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navRecord {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: -400px;
    width: 1000px;
    height: 1000px;
    background-color: var(--record);
    box-shadow: var(--shadow);
}

.navRecordLine1 {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: -400px;
    width: 800px;
    height: 800px;
    background-color: var(--record);
    border-style: solid;
    border-color: var(--record-border);
}

.navRecordLine2 {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: -400px;
    width: 600px;
    height: 600px;
    background-color: var(--record);
    border-style: solid;
    border-color: var(--record-border);
}

.navRecordLine3 {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    margin-left: -400px;
    width: 400px;
    height: 400px;
    background-color: #ffff;
    border-style: solid;
    border-color: var(--record-border);
}

.navList {
    display: block;
    position: absolute;
    left: 50px;
    padding: 0;
    margin: 0;
}

.navItemDefault, .navItemNew, .navItemHistory, .navItemSettings {
    height: 130px;
    width: 130px;
    margin: 5px;
    background-color: var(--grey);
    box-shadow: var(--shadow);
    color: var(--white-text);
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    color: var(--shadow);
}

.navItemDefault:hover, .navItemNew:hover, .navItemHistory:hover, .navItemSettings:hover, .activeLink:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--purple);
}

.activeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    color: var(--white-text);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--purple);
}
