.defaultContent {
    margin-left: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
}

.defaultCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    max-height: 500px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    box-shadow: var(--shadow);
    z-index: 1;
}

.defaultCardText {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 300px;
    margin: 0px 40px 0px 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
    text-wrap: balance;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    box-shadow: 0 0 10px #353B3C;
}

/* Responsiveness */

@media screen and (max-width: 1843px) {
    .defaultCard {
        width: 500px;
    }
}

@media screen and (max-width: 1431px) {
    body {
        overflow-y: scroll;
    }

    .defaultContent {
        flex-direction: column;
        margin: 400px 100px 0px 300px;
    }

    .defaultCard {
        width: 600px;
    }
}