.defaultContent {
    margin-left: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    background-color: var(--background); 
    color: red; 
}


.defaultCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    max-height: 500px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background); 
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    box-shadow: var(--shadow);
    z-index: 1;
}

body.light-mode .defaultContent {
    background-color: var(--light-background); 
}

body.light-mode .defaultCard {
    background-color: var(--light-background); 
    color: var(--dark-text); 
}

.defaultCard:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

.defaultHeader {
    padding: 50px; 
    font-size: 2rem; 
    margin-bottom: 10px; 
    color: var(--dark-text); 
}

.defaultText {
    font-size: 1.2rem; 
    color: var(--light-text); 
}

.defaultButton {
    padding: 10px 15px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.defaultButton:hover {
    background-color: #0056b3; 
}

body.light-mode .defaultButton {
    background-color: #0056b3; 
}

body.light-mode .defaultButton:hover {
    background-color: #004494; 
}

/* Responsiveness */

@media screen and (max-width: 1843px) {
    .defaultCard {
        width: 500px;
    }
}

@media screen and (max-width: 1431px) {
    body {
        overflow-y: scroll;
    }

    .defaultContent {
        flex-direction: column;
        margin: 400px 100px 0px 300px;
    }

    .defaultCard {
        width: 600px;
    }
}